<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/stylesheets/members.css}" rel="stylesheet"/>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
</head>
<body>
<div class="container-fluid text-center">
</div>
<div th:switch="${members}">
    <!--  <h2 th:case="null">No members yet!</h2>-->
    <!--  <div th:case="*">-->
    <h1> Manage members: </h1>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <div class="table">
            <table id="table">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Member Account</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>email</th>
                    <th>Phone Number</th>
                    <!--                <th>Fitness Classes</th>-->
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}"></td>
                    <td><a class="h4 mr-3" th:href="@{'/member_account/' + ${member.id}}">Account</a></td>
                    <td th:text="${member.firstName}"></td>
                    <td th:text="${member.lastName}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.phoneNumber}"></td>
                    <!--                <td th:text="${member.fitnessClasses}"></td>-->
                    <td>
                        <a class="h4 mr-3" th:href="@{'/members/edit/' + ${member.id}}">Edit</a>
                        <a class="h4" th:href="@{'/members/delete/' + ${member.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div><h2><a th:href="member_form">Add new Member</a></h2></div>
<div><h2><a href="index">Go to Homepage</a></h2></div>
<script src="/js/members.js"></script>
</body>
</html>